<div class="top-image hero is-medium">
  <div class="hero-body has-text-centered">
    <h1 class="title is-1">いらないものに価値を</h1>
  </div>
</div>
<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>
