<header class="navbar has-background-primary">
  <div class="navbar-brand">
    <span class="navbar-item">
      <span class="fa fa-language"></span>ショップ
    </span>
  </div>

  <div class="navbar-end">
    <div class="navbar-item">
      <div class="field has-addons">
        <div class="control">
          <input class="input" type="text" name="search" placeholder="キーワード検索">
        </div>
        <div class="control">
          <a class="button is-info"><i class="fa fa-search"></i>検索</a>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar-item">
    <%= link_to 'ログイン', new_user_session_path %>
  </div>
  <div class="navbar-item">
    <%= link_to "登録", new_user_registration_path %>
  </div>
</header>
